extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project.animation
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jason Hill

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi, I'm Jason.  A Full Stack JavaScript Developer, Licensed Electrician, and Former Marine transfering my life skills to my life long passion in tech.
            | I studied Computer Science Networking and Security in college after my time in the service, while attending my 5 year electrical apprenticeship and working full time as an apprentice.  Due to life and living costs in the bay area, I decided to stick with electrical for the last 10 years and for the last 4.5 years as an electrical foreman and project manager running teams of up to 22 electricians building many projects around the S.F. Bay Area, CA.  My passion has always lead me back to the tech field so I enrolled in Treehouse Full Stack Tech Degree program to better learn to code.
            | Having learned many life, business, and soft skills along the way, coupled with my passion to continue to learn, I am looking for an opportunity to transfer them to a role as a software developer and grow personally and with a team.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li Pug 
          li React
          li HTML
          li CSS
          li Bootstrap
          li Python
          li Git / GitHub
        h6 Contact Info

        //- Add your own contact info
        ul
          li 925-470-8395
          li Jason161@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target="_blank" href='https://www.linkedin.com/in/jasonhill161/') LinkedIn
        a.button.expanded(target="_blank" href='https://github.com/Jhill161') GitHub
        a.button.expanded(target="_blank" href='https://twitter.com/JasonHill161') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  